:root {
   --a1in4rem: 0.25rem;
   --aHaftrem: 0.5rem;
   --a1rem: 1rem;
   --test-bgcolor: #999;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   background-color: #000 !important
}

a{
   color: #000;
}

.supnav-block > * {
   display: block;
}

.d-inline-block {
   display: inline-block;
}

.d-grid {
   display: grid;

}

.d-flex {
   display: flex;
}

.gap-10px {
   gap: 10px;
}

.text-fff{
   color: #fff;
}

